@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --primary-lighter: #faecd2;
    --primary-light: #fde68a;
    --primary: #ffbf24;
    --primary-dark: #f59e0b;
    --primary-darker: #d97706;
    --accents-1: #fafafa;
    --accents-2: #f5f5f5;
    --accents-3: #e5e5e5;
    --accents-4: #d4d4d4;
    --accents-5: #a3a3a3;
    --accnets-6: #737373;
    --accents-7: #525252;
    --accents-8: #404040;
    --accents-9: #262626;
}